%tr
  %td
    = link_to document.display_name, document.doc.url
  %td
    %a.btn.btn-default.btn-xs.btn-success{:href => "#{}"}
      %i.fa.fa-download.fa-fw
      %strong
        = document.doc.file.extension.upcase #extname(document.doc_file_name).capitalize