= content_tag :table do
  = content_tag :th, sort_link(@q, :name, [:name, 'kind ASC'], 'Name')
  = content_tag :th, sort_link(@q, :manufacturer, [:manufacturer, 'kind ASC'], 'Manufacturer')
  = content_tag :th, sort_link(@q, :model, [:model, 'kind ASC'], 'Model')