%main{:role => "main"}
  .row
    .large-12.columns
      / %h2 SERVICES
      .top_h
        %h3 CUSTOMER SELF-SERVICE PORTAL
        %p You may find quick start guides, drivers, and manuals for your purchased devices here.
  .container
    / = render 'layouts/slides'
    = render 'layouts/contacts'
%itempanel
  .row
    .large-12.columns
      .browselist.lowpagec
        %nav.top-bar.rad{"data-topbar" => true}
          %ul.title-area
            %li.name
              %a{:href => "#"} SUPPORT RESOURCES
        .panel.browsep.brad
          .grid
            %p Browse for your device to download documentation and software.
            / Nav tabs
            %dl.tabs.vertical{"data-tab" => "true"}
              = render partial: 'tab', collection: @items
              
            .tabs-content.vertical
              = render partial: 'category', collection: @items