
.medium-8.columns
  %h1 Admin Section

.medium-3.columns
  %h2 Admin Links
  %ul
    %li
      %a{:href => "#"}
        Items
    %li
      %a{:href => "#"}
        Manufacturers
    %li
      %a{:href => "#"}
        Categories