%tr
  %td
    = link_to document.name, document.doc.url
  %td
    %a.btn.btn-default.btn-xs.btn-success{:href => "#{}"}
      %i.fa.fa-download.fa-fw
      %strong
        = File.extname(document.doc_file_name).capitalize