-# navigation styled for Zurb Foundation 5
-# the syntax for data-topbar may need to change for Zurb Foundation 5
%nav.top-bar{"data-topbar" => true}
  %ul.title-area
    %li.name
      = link_to 'REDRESS', root_path
    %li.toggle-topbar.menu-icon
      %a{:href => "#"}
        Menu
  .top-bar-section
    %ul.right
      = render 'layouts/navigation_links'

- if user_signed_in?
  %nav.top-bar{"data-topbar" => true}
    .top-bar-section
      %ul
        = render 'layouts/admin_navigation_links'