.row
  .large-12.columns
    .slideshow-wrapper
      %ul.orbit-contet{"data-orbit" => "", "data-options" => "slide_number:false;bullets:false;timer:true;swipe:true;"}
        %li
          .hero-slide.hs-one
            .row
              .large-12.columns
                .h3
                  Peace of Mind Service Plans
                .h4
                  We offer service plans for remote support, remote monitoring, regular maintenance, license management, and more... 
                  %a{href:"http://ibcworld.net/services/remote-it-on-site-support/remote-it-on-site-tech-support/"}
                    Read more...
          / .orbit-caption
          /   Find out more about our plans.
        %li
          .hero-slide.hs-two
            .row
              .large-12.columns
                .h3
                  Running out of supplies?
                .h4
                  Toner, ink, labeles, Paper, etc.. We've got it all!
                  %a{href:"http://ibcworld.net/products/"}
                    Click here..
          / .orbit-caption
          /   Order supplies..
        %li
          .hero-slide.hs-three
            .row
              .large-12.columns
                .h3
                  Expanding? Need More Software Licenses?
                .h4
                  WE'VE GOT THEM TOO!
                  %a{href:"http://ibcworld.net/category/products/product-types/software/"}
                    Click here..
          / .orbit-caption
          /   Click here to order software licenses..